<!DOCTYPE html>
<html>
<head>
  <title>Library Miner</title>

  <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body class="skin-blue">
  <div class="wrapper">
    <%= render 'shared/header' %>

    <%= render 'shared/sidebar' %>

    <div class="content-wrapper">
      <%= yield %>
    </div>
  </div>

</body>
</html>
